<div ui-view ng-cloak></div>


<div class="wrapper" ng-cloak>

    <div class="login-body">
        <h2>SIGN IN</h2>
        <form class='form-validate' id="test">
            <div class="form-group">
                <div class="email controls">
                    <input type="text" ng-model="email" name='uemail' placeholder="Email address" class='form-control' data-rule-required="true" data-rule-email="true">
                </div>
            </div>
            <div class="form-group">
                <div class="pw controls">
                    <input type="password" ng-model="password" name="upw" placeholder="Password" class='form-control' data-rule-required="true">
                </div>
            </div>

            <button ng-click="login()">Sign me in</button>

            <br>In order to login you need to be registered.
            <button ng-click="register()">Register</button>

            <br>

            <div>
                <p ng-if="error">Error: <strong>{{ error }}</strong>
                </p>
            </div>
            <br>
        </form>

    </div>
</div>