<div class="container-fluid" id="content">


    <div id="main">
        <div class="container-fluid">

            <div ng-show="authData">
                <p>Hello, {{ authData.uid }}</p>
                <button ng-click="logout()">Logout</button>
            </div>

            <h3>Add new message</h3>

            <input type="text" ng-model="message" placeholder="My thoughts from today...">
            <button type="submit" ng-click="post_message()">Send message</button>

            <h3>Messages from Firebase</h3>
            <ul id="original-messages">
                <li ng-repeat="msg in messages ">
                    <strong>{{ msg.person }}</strong>
                    {{ msg.text }}
                </li>
            </ul>

            <p>Order by:
                <select ng-model="criteria">
                    <option>person</option>
                    <option>text</option>
                </select>
            </p>

            <p>Search:
                <input ng-model="search">
            </p>

            <h3>Ordered messages</h3>
            <ul id="custom-messages">
                <li ng-repeat="msg in messages | orderBy : criteria | filter: search">
                    <strong>{{ msg.person }}</strong>
                    {{ msg.text }}
                </li>
            </ul>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-title">
                            <h3>
									<i class="fa fa-comments"></i>
									Messages from database
								</h3>
                            <div class="actions">
                                <a href="#" class="btn btn-mini content-refresh">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="btn btn-mini content-remove">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="#" class="btn btn-mini content-slideUp">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content nopadding">
                            <ul class="messages">
                                <li ng-repeat="msg in messages" ng-class="{'left' : (authData.uid == msg.person),'right' : (authData.uid != msg.person)}">

                                    <div class="image">
                                        <img src="img/demo/user-2.jpg" alt="">
                                    </div>

                                    <div class="message">
                                        <span class="caret"></span>
                                        <span class="name">{{ msg.person }}</span>
                                        <p>{{ msg.text }}</p>
                                        <span class="time">
												{{ msg.timestamp | date : "short" }}
											</span>
                                    </div>
                                </li>

                                <li class="insert">

                                    <div class="text">
                                        <input ng-model="message" type="text" name="text" placeholder="Write here..." class="form-control">
                                    </div>

                                    <button ng-click="post_message()">Send</button>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>