<div ui-view></div>

<div id="navigation">
    <div class="container-fluid">
        <a href="#" id="brand">FLAT</a>
        <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
            <i class="fa fa-bars"></i>
        </a>
        <ul class='main-nav'>
            <li>
                <a href="index.html">
                    <span>Dashboard</span>
                </a>
            </li>

            <li class='active'>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Components</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="components-timeline.html">Timeline</a>
                    </li>
                    <li>
                        <a href="components-pagestatistics.html">Page statistics</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Pages</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="more-error.html">Error pages</a>
                    </li>
                    <li class='dropdown-submenu'>
                        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Shop</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="more-shop-list.html">List view</a>
                            </li>
                            <li>
                                <a href="more-shop-product.html">Product view</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="more-pricing.html">Pricing tables</a>
                    </li>
                    <li>
                        <a href="more-faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="more-invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="more-userprofile.html">User profile</a>
                    </li>
                    <li>
                        <a href="more-searchresults.html">Search results</a>
                    </li>
                    <li>
                        <a href="more-login.html">Login</a>
                    </li>
                    <li>
                        <a href="more-locked.html">Lock screen</a>
                    </li>
                    <li>
                        <a href="more-email.html">Email templates</a>
                    </li>
                    <li>
                        <a href="more-blank.html">Blank page</a>
                    </li>
                    <li class='dropdown-submenu'>
                        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Blog</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="more-blog-list.html">List big image</a>
                            </li>
                            <li>
                                <a href="more-blog-list-small.html">List small image</a>
                            </li>
                            <li>
                                <a href="more-blog-post.html">Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="user">
            <ul class="icon-nav">



                <li class='dropdown colo'>
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                        <i class="fa fa-tint"></i>
                    </a>
                    <ul class="dropdown-menu pull-right theme-colors">
                        <li class="subtitle">
                            Predefined colors
                        </li>
                        <li>
                            <span class='red'></span>
                            <span class='orange'></span>
                            <span class='green'></span>
                            <span class="brown"></span>
                            <span class="blue"></span>
                            <span class='lime'></span>
                            <span class="teal"></span>
                            <span class="purple"></span>
                            <span class="pink"></span>
                            <span class="magenta"></span>
                            <span class="grey"></span>
                            <span class="darkblue"></span>
                            <span class="lightred"></span>
                            <span class="lightgrey"></span>
                            <span class="satblue"></span>
                            <span class="satgreen"></span>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">John Doe
						<img src="img/demo/user-avatar.jpg" alt="">
					</a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a ng-click="profile()">Profile</a>
                    </li>
                    <li>
                        <a ng-click="logout()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="content">
    <div id="left">
        <form action="search-results.html" method="GET" class='search-form'>
            <div class="search-pane">
                <input type="text" name="search" placeholder="Search here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'>
                    <i class="fa fa-angle-down"></i>
                    <span>Content</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li class='dropdown'>
                    <a href="#" data-toggle="dropdown">Articles</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action #1</a>
                        </li>
                        <li>
                            <a href="#">Antoher Link</a>
                        </li>
                        <li class='dropdown-submenu'>
                            <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">This is level 3</a>
                                </li>
                                <li>
                                    <a href="#">Unlimited levels</a>
                                </li>
                                <li>
                                    <a href="#">Easy to use</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    <a href="#">Comments</a>
                </li>
            </ul>
        </div>

        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'>
                    <i class="fa fa-angle-down"></i>
                    <span>Settings</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li>
                    <a href="#">Theme settings</a>
                </li>
                <li class='dropdown'>
                    <a href="#" data-toggle="dropdown">Page settings</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action #1</a>
                        </li>
                        <li>
                            <a href="#">Antoher Link</a>
                        </li>
                        <li class='dropdown-submenu'>
                            <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">This is level 3</a>
                                </li>
                                <li>
                                    <a href="#">Unlimited levels</a>
                                </li>
                                <li>
                                    <a href="#">Easy to use</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Security settings</a>
                </li>
            </ul>
        </div>

    </div>

    <div id="main">
        <div class="container-fluid">
            <div class="page-header">
                <div class="pull-left">
                    <h1>Messages &amp; Chat</h1>
                </div>
                <div class="pull-right">

                    <ul class="stats">

                        <li class='lightred'>
                            <i class="fa fa-calendar"></i>
                            <div class="details">
                                <span class="big"> {{ date | date: 'dd-MM-yyyy'}}</span>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li>
                        <a href="">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="">Components</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="">Messages &amp; Chat</a>
                    </li>
                </ul>
                <div class="close-bread">
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>


            <h3>Add new message</h3>

            <input type="text" ng-model="message" placeholder="My thoughts from today...">
            <button type="submit" ng-click="post_message()">Send message</button>

            <h3>Messages from Firebase</h3>
            <ul id="original-messages">
                <li ng-repeat="msg in messages">
                    <strong>{{ msg.person }}</strong>
                    {{ msg.text }}
                </li>
            </ul>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-title">
                            <h3>
									<i class="fa fa-comments"></i>
									Messages from database
								</h3>
                            <div class="actions">
                                <a href="#" class="btn btn-mini content-refresh">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="btn btn-mini content-remove">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="#" class="btn btn-mini content-slideUp">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content nopadding">
                            <ul class="messages">
                                <li ng-repeat="msg in messages" ng-class="{'left' : (authData.uid == msg.person),'right' : (authData.uid != msg.person)}">

                                    <div class="image">
                                        <img src="img/demo/user-2.jpg" alt="">
                                    </div>

                                    <div class="message">
                                        <span class="caret"></span>
                                        <span class="name">{{ msg.person }}</span>
                                        <p>{{ msg.text }}</p>
                                        <span class="time">
												{{ msg.timestamp | date : "short" }}
											</span>
                                    </div>
                                </li>

                                <li class="insert">

                                    <div class="text">
                                        <input ng-model="message" type="text" name="text" placeholder="Write here..." class="form-control">
                                    </div>

                                    <button ng-click="post_message()">Send</button>

                                </li>
                            </ul>

                            <button ng-click="raiseHand()">Raise hand</button>

                        </div>

                        <div class="col-lg-3 col-lg-offset-4" ng-show="handRaiser.value">
                            <span ng-bind="handRaiser.username"></span>
                            <img height="100" width="100" src="img/raiseHand.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Theme scripts -->
<script src="js/application.min.js"></script>
